<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
   <link rel="stylesheet" href="../../static/css/profile.css">
  <title>로그인</title>
</head>

<body style="width: 1800px; margin: 0 auto;">

<div data-th-replace="fragment/header :: headerFragment"></div>

<div style="text-align: center;">
<br>
  <p style=" text-align: center; font-size: 40px; font-weight: bold;"> ArtTab Sign in </p>
<br><br>
</div>
<div class="container" style="text-align:center;">

  <form th:action="@{/member/login}" method="post">
    <div class="form-group">
      <label for="memberEmail">이메일</label>
      <input type="email" class="form-control" id="memberEmail" name="memberEmail" placeholder="이메일을 입력해주세요" required>
    </div>
    <div class="form-group">
      <label for="memberPwd">비밀번호</label>
      <input type="password" class="form-control" id="memberPwd" name="memberPwd" placeholder="비밀번호를 입력해주세요" required>
    </div>

    <button type="submit" class="button2" style="font-weight: bold;">로그인</button>

   <!-- <button type="button" class="button1" style="font-weight: bold; margin-left:5px;" onclick="location.href='signup'">회원 가입</button>-->
  </form>
  <br>
  <a href="https://kauth.kakao.com/oauth/authorize?client_id=8a9729db8ca9ffc2b1e5568724c65513&redirect_uri=http://localhost:8080/oauth/kakao&response_type=code">
    <img src="https://developers.kakao.com/assets/img/about/logos/login/kr/kakao_account_login_btn_medium_narrow.png" alt="카카오계정으로 로그인">
  </a>
</div>
<br><br><br><br><br><br><br>
<div data-th-replace="fragment/footer :: footerFragment"></div>
</body>
</html>
