<!--signup.html-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../static/css/profile.css">
  <title>BleuAuction Singup</title>
  <style>
    .center-label {
      display: flex;
      justify-content: center;
      align-items: center;

    }</style>
</head>

<body style="width: 1800px; margin: 0 auto;">
<div th:replace="~{fragment/header :: headerFragment}"></div>
<div style="text-align: center;">

<form method="post" action="/member/signup">
  <div class="container">

    <p style=" text-align: center; font-size: 40px; font-weight: bold;"> BleuAuction Sign up </p>
  <br><br>
    <div class="form-group">
      <label for="inputEmail" style="margin-right: 20px;">이메일</label>
      <input type="text" class="form-control" id="inputEmail" name="memberEmail" style="color: rgba(105, 105, 105, 0.8)" placeholder="email@email.com">
    </div>
    <div class="form-group">
      <label for="inputPassword" style="margin-right: 20px;">비밀번호</label>
      <input type="password" class="form-control" id="inputPassword" name="memberPwd" style="color: rgba(105, 105, 105, 0.8)" placeholder="****">
    </div>
    <div class="form-group">
      <label for="inputName" style="margin-right: 20px;">이름</label>
      <input type="text" class="form-control" id="inputName" name="memberName" style="color: rgba(105, 105, 105, 0.8)" placeholder="BleuAuction">
    </div>
    <div class="form-group">
      <label for="inputPhone" style="margin-right: 20px;">전화번호</label>
      <input type="text" class="form-control" id="inputPhone" name="memberPhone" style="color: rgba(105, 105, 105, 0.8)" placeholder="010 0000 0000">
    </div>
    <div class="form-group">
      <label for="inputAddr" style="margin-right: 20px;">기본주소</label>
      <input type="text" class="form-control" id="inputAddr" name="memberAddr" style="color: rgba(105, 105, 105, 0.8)" placeholder="검색" readonly>
    </div>
    <div class="form-group">
      <label for="inputDetailAddr" style="margin-right: 20px;">상세주소</label>
      <input type="text" class="form-control" id="inputDetailAddr" name="memberDetailAddr" style="color: rgba(105, 105, 105, 0.8)" placeholder="상세주소">
    </div>
    <div class="form-group">
      <label for="inputZipcode" style="margin-right: 20px;">우편번호</label>
      <input type="text" class="form-control" id="inputZipcode" name="memberZipcode" style="color: rgba(105, 105, 105, 0.8)" placeholder="" readonly>
    </div>
    <div class="form-group">
      <label for="inputBank" style="margin-right: 20px;">은행명</label>
      <input type="text" class="form-control" id="inputBank" name="memberBank" style="color: rgba(105, 105, 105, 0.8)" placeholder="">
    </div>
    <div class="form-group">
      <label for="inputAcc" style="margin-right: 20px;">계좌번호</label>
      <input type="text" class="form-control" id="inputAcc" name="memberAcc" style="color: rgba(105, 105, 105, 0.8)" placeholder="">
    </div>
    <!-- 개인정보제공동의 버튼 -->
  <h4 style="margin-left:40px;">BleuAuction 정보 수신 동의</h4>
<!--  <div class="center-label">-->
<!--        <label data-th-replace="termsofuse.html">개인정보 제공에 동의합니다</label>-->
<!--      </div>-->
  <br>
  <button type="submit" style="font-weight:bold;" class="button2">확인 및 가입</button>

    </div>

</form>
  <br><br><br><br><br><br><br><br>
</div>
<div th:replace="~{fragment/header :: headerFragment}"></div>
</div>

</body>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  window.onload = function(){
      document.getElementById("inputAddr").addEventListener("click", function(){ //주소입력칸을 클릭하면
          //카카오 지도 발생
          new daum.Postcode({
              oncomplete: function(data) { //선택시 입력값 세팅
                  document.getElementById("inputZipcode").value = data.zonecode;
                  document.getElementById("inputAddr").value = data.address; // 주소 넣기
                  document.querySelector("input[name=memberDetailAddr]").focus(); //상세입력 포커싱
              }
          }).open();
      });
  }
</script>
</html>
