<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>공지사항 수정</title>
</head>
<body>
<div class="container">
    <h1>공지사항 수정</h1>
        <form th:object="${notice}" th:action="@{/update/{noticeNo}(noticeNo=${notice.noticeNo})}" method="post">
        <input type="hidden" th:field="*{noticeNo}">
        <label for="noticeTitle">제목:</label>
        <input type="text" id="noticeTitle" th:field="*{noticeTitle}">
        <br>
        <label for="noticeContent">내용:</label>
        <textarea id="noticeContent" th:field="*{noticeContent}" rows="4"></textarea>
        <br>

        <br>
        <button type="submit">저장</button>
    </form>
</div>
</body>
</html>