<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
        <form role="form" action="/notice/new" th:object="${noticeForm}" method="post">

            <div class="form-group">
                <label for="noticeTitle">제목</label>
                <input type="text" th:field="*{noticeTitle}" class="form-control" id="noticeTitle" placeholder="제목">
            </div>

            <div class="form-group">
                <label for="noticeContent">내용</label>
                <input type="text" th:field="*{noticeContent}" class="form-control" id="noticeContent" placeholder="내용">
            </div>
        <button type="submit">submit</button>

    </form>
</div>
</body>
</html>