<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>제목</th>
            <th>내용</th>
            <th>사용여부</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notice : ${notices}">
<!--            <td th:text="${notice.noticeTitle}"></td>-->
            <td><a th:href="@{/notice/detail/{noticeNo}(noticeNo=${notice.noticeNo})}" th:text="${notice.noticeTitle}"></a></td>
            <td th:text="${notice.noticeContent}"></td>
            <td th:text="${notice.noticeStatus}"></td>
            <td>
                <form th:action="@{/notices/delete/{id}(id=${notice.noticeNo})}" method="post" onsubmit="return confirm('정말로 삭제하시겠습니까?');">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit">삭제</button>
                </form>
            </td>
        </tr>
        </tbody>
        </thead>
    </table>
</div>

</body>
</html>