<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .store_div {
            padding-top: 200px;
            text-align: center;
            height: 300px;
            border: solid 1px black;
        }
    </style>
    <!-- Axios CDN 링크 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/js/common.js"></script>
</head>
<body>
<div>
    <div class="store_div" data-th-unless="${store}">존재하지 않는 가게입니다.</div>
    <div class="store_div" data-th-if="${store}">
        <form id="reviewInsertForm">
            가게번호<input type="text" name="storeNo" data-th-value="${store.storeNo}">
            <label>신선도</label>
            <input type="radio" name="reviewFreshness" value="L">낮음
            <input type="radio" name="reviewFreshness" value="M">중간
            <input type="radio" name="reviewFreshness" value="H">높음
            <textarea name="reviewContent"></textarea>
            <button id="submitBtn" type="button">리뷰 작성</button>
        </form>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("submitBtn").addEventListener("click", function() {
            const formData = new FormData(document.getElementById("reviewInsertForm"));
            const jsonObject = {};

            for (let [key, value] of formData.entries()) {
                jsonObject[key] = value;
            }
            console.log(jsonObject);
            sendAxiosRequest("/review/add/sendAxios", "POST", jsonObject,
                response => {
                    console.log(response.data);
                    alert("리뷰를 성공적으로 작성하였습니다!");
                    location.reload();
                },
                error => console.log(error)
            )
        });
    });
</script>
</body>
</html>