<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .store_div {
            padding-top: 200px;
            text-align: center;
            height: 300px;
            border: solid 1px black;
        }
    </style>
    <!-- Axios CDN 링크 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/js/common.js"></script>
</head>
<body>
<div id="store_list_div">
    <div class="store_div" data-th-unless="${storeSubList}">존재하는 가게가 없습니다.</div>
    <div class="store_div" data-th-if="${storeSubList.size() > 0}" data-th-each="store : ${storeSubList}" data-th-text="${store.storeName}"></div>

</div>
<input id="store_list_size" type="hidden" data-th-value="${storeListSize}">
<script>
    window.addEventListener("scroll", function() {
        // (현재 브라우저 창의 높이 + 현재 스크롤된 거리) >= 문서 전체의 높이
        if ((window.innerHeight + window.scrollY + 10) >= document.documentElement.scrollHeight) {
            let storeDivLength = document.querySelectorAll(".store_div").length;
            let storeListSize = parseInt(document.getElementById("store_list_size").value);
            console.log("storeDivLength: " + storeDivLength);
            console.log("storeListSize: " + storeListSize);

            if (storeDivLength <= storeListSize) {
                sendAxiosRequest('/store/list/axios?storeLength=' + storeDivLength, 'GET', null,
                    function(response) {
                        console.log(response.data);
                        for (let i = 0; i < response.data.length; i++) {
                            let store = response.data[i];
                            let storeListDiv = document.getElementById("store_list_div");
                            let newStoreDiv = document.createElement('div');
                            newStoreDiv.textContent = store.storeName;
                            newStoreDiv.className = 'store_div';
                            storeListDiv.appendChild(newStoreDiv);
                        }
                    },
                    function(error) {
                        console.log(error);
                    }
                );
            }
        }
    });
</script>
</body>
</html>