<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form role="form" action="/menu/new" th:object="${menuForm}" method="post" enctype="multipart/form-data">
        가게는 1번으로 고정
        <div class="form-group">
            <label for="menuName">메뉴이름</label>
            <input type="text" th:field="*{menuName}" class="form-control" id="menuName" placeholder="메뉴이름">
        </div>

        <div class="form-group">
            <label for="menuSize">메뉴사이즈</label>
            <select th:field="*{menuSize}" class="form-control" id="menuSize">
                <option value="S">소</option>
                <option value="M">중</option>
                <option value="L">대</option>
            </select>
        </div>

        <div class="form-group">
            <label for="menuPrice">메뉴가격</label>
            <input type="text" th:field="*{menuPrice}" class="form-control" id="menuPrice" placeholder="메뉴가격">
        </div>

        <div class="form-group">
            <label for="menuContent">메뉴설명</label>
            <input type="text" th:field="*{menuContent}" class="form-control" id="menuContent" placeholder="메뉴설명">
        </div>

        <div class="form-group">
            <label for="files">메뉴 이미지 업로드</label>
            <input type="file" name="files" class="form-control-file" id="files"  multiple>
        </div>

        <button type="submit">submit</button>

    </form>
</div>
</body>
</html>
